.container {
    width: min(560px, 90%);
    margin: auto;
}

#task-form input {
    width: 80%;
    height: 40px;
    padding-inline: 10px;
    outline: none;
}

#task-form button {
    width: 15%;
    height: 40px;
    background-color: #F675A8;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#task-form input:focus {
    border: 1px solid #F675A8;
}

.task-container {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list {
    margin-top: 50px;
}

.finish-task-btn {
    color: #7dce13;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.delete-task-btn {
    color: #ff1e00;
    font-size: 24px;
    cursor: pointer;
}

#task-form {
    display: flex;
    justify-content: space-between;
}

#task-form input {
    flex: 1;
    height: 40px;
    padding-inline: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 10px;
}